.root-social-links {
  display: flex;
  flex-direction: row;
}

.social-icon-inner {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.social-icon,
.social-icon:visited,
.social-icon:link {
  margin-right: 16px;
  border-radius: 40%;
  padding: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition: border-radius 100ms, background-color 100ms, color 100ms;
  background-color: var(--social-background);
  color: var(--social-foreground);
  box-shadow: 0 0 16px var(--social-shadow);
}

.social-icon:hover {
  background-color: var(--social-foreground);
  color: var(--social-background);
  border-radius: 25%;
}
