.text-title {
  font-size: 24pt;
  font-weight: 600;
  color: var(--text-title);
  line-height: normal;
}

.text-subtitle {
  font-size: 18pt;
  color: var(--text-subtitle);
  line-height: normal;
}

.text-detail {
  color: var(--text-detail);
  line-height: normal;
}

.text-bold {
  font-weight: 800;
  line-height: normal;
}
