body.light-mode {
  --background: rgb(235, 235, 235);
  --accent-foreground: hsl(227, 30%, 47%);
  --accent-background: rgb(188, 194, 216);

  --text-title: rgb(56, 65, 75);
  --text-subtitle: hsl(227, 5%, 40%);
  --text-detail: hsla(227, 5%, 100%, 0.6);
  --text-p: hsl(189, 14%, 20%);

  --card-background: rgba(0, 0, 0, 0.1);
  --footer-foreground: hsl(0, 0%, 40%);
  --quote-foreground: var(--text-p);
  --divider-background: var(--card-background);

  --code-background: hsl(203, 42%, 85%);
  --code-foreground: #30303b;

  --nav-selected-background: hsl(227, 30%, 80%);
  --nav-selected-foreground: hsl(227, 30%, 30%);
  --nav-unselected-background: transparent;
  --nav-unselected-foreground: hsl(0, 0%, 60%);
  --nav-hover-background: hsl(227, 20%, 85%);
  --nav-hover-foreground: var(--nav-selected-foreground);
  --nav-active-foreground: var(--nav-selected-foreground);

  --text-selection-foreground: rgb(54, 54, 54);
  --text-selection-background: rgba(255, 255, 255, 0.779);

  --text-link-url: var(--accent-foreground);
  --text-link-url-hover: hsl(227, 30%, 20%);
  --text-link-url-active: var(--text-link-url);

  --social-background: hsl(227, 10%, 95%);
  --social-foreground: var(--accent-foreground);
  --social-shadow: var(--card-background);

  --anchor-unvisited-background: transparent;
  --anchor-unvisited-foreground: var(--accent-foreground);
  --anchor-visited-background: transparent;
  --anchor-visited-foreground: hsl(227, 20%, 60%);

  --anchor-hover-background: var(--accent-foreground);
  --anchor-hover-foreground: var(--accent-background);
  --anchor-active-background: var(--accent-foreground);
  --anchor-active-foreground: var(--accent-background);
}
