nav {
  font-family: 'Recursive', sans-serif;
}

.navbar_list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.navbar_list li {
  display: flex;
  align-items: center;
  padding-right: 8px;
  margin-bottom: 8px;
}

.navbar_list li a {
  display: inline-block;
  padding: 8px 16px;
  border-radius: 16px;
  text-decoration: none;
  font-size: 13pt;
  background-color: var(--nav-unselected-background);
  color: var(--nav-unselected-foreground);
  font-weight: 400;
  transition: background-color 100ms;
}

.navbar_list li a.active-link {
  background-color: var(--nav-selected-background);
  color: var(--nav-selected-foreground);
}

.navbar_list li a:hover {
  background-color: var(--nav-hover-background);
  color: var(--nav-hover-foreground);
  font-weight: 500;
}

.navbar_list li a:active {
  color: var(--nav-active-foreground);
  font-weight: 800;
}
