.footer-root {
  text-align: center;
  font-family: 'Recursive', sans-serif;
  font-weight: 400;
  color: var(--footer-foreground);
}

.quote {
  font-weight: 600;
  color: var(--quote-foreground);
  font-size: 12pt;
}
