@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Recursive:wght@300;400;500;600;700;800;900;1000&display=swap');

html {
  /* Content won't move when scrollbar visible or not */
  overflow-y: scroll;
}

body {
  margin: 0;
  font-family: 'Manrope', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #18181b;
  color: #d5ccc7;
}

p {
  font-size: 12pt;
  line-height: 20pt;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.app-root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.flex-1 {
  flex: 1;
}

.row-flex {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.margin-vertical-medium {
  padding: 16px 0px;
}

.page-fixed-width-root {
  width: 600px;
  max-width: 100%;
  margin: auto;
}
