@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Recursive:wght@300;400;500;600;700;800;900;1000&display=swap');

html {
  /* Content won't move when scrollbar visible or not */
  overflow-y: scroll;
}

body {
  margin: auto 32px;
  font-family: 'Manrope', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background);
  color: var(--text-p);
  font-size: 12pt;
  line-height: 20pt;
}

p {
  font-size: 12pt;
  line-height: 20pt;
  color: var(--text-p);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.app-root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.flex-1 {
  flex: 1;
}

.row-flex {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.column-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.margin-vertical-medium {
  padding: 16px 0px;
}

.margin-vertical-high {
  padding: 16px 0px;
}

.page-fixed-width-root {
  width: 600px;
  max-width: 100%;
  margin: auto;
}

a {
  font-weight: 600;
  transition: background-color 100ms, color 200ms;
  color: var(--anchor-unvisited-foreground);
  background-color: var(--anchor-unvisited-background);
}

/* unvisited anchor */
a:link {
  color: var(--anchor-unvisited-foreground);
  background-color: var(--anchor-unvisited-background);
}

/* visited anchor */
a:visited {
  color: var(--anchor-visited-foreground);
  background-color: var(--anchor-visited-background);
}

a:hover {
  color: var(--anchor-hover-foreground);
  background-color: var(--anchor-hover-background);
}

a:active {
  color: var(--anchor-active-foreground);
  background-color: var(--anchor-active-background);
  font-weight: 800;
}

/* Text selection */
::-moz-selection {
  color: var(--text-selection-background);
  background-color: var(--text-selection-foreground);
}
::-webkit-selection {
  color: var(--text-selection-background);
  background-color: var(--text-selection-foreground);
}
::selection {
  color: var(--text-selection-background);
  background-color: var(--text-selection-foreground);
}
