@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Recursive:wght@300;400;500;600;700;800;900;1000&display=swap');

html {
  /* Content won't move when scrollbar visible or not */
  overflow-y: scroll;
}

body {
  margin: 0;
  font-family: 'Manrope', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #18181b;
  color: #d5ccc7;
  font-size: 12pt;
  line-height: 20pt;
}

p {
  font-size: 12pt;
  line-height: 20pt;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

a {
  font-weight: 600;
  transition: background-color 100ms, color 200ms;
}

a:link {
  color: rgb(150, 162, 207);
}

a:visited {
  color: rgb(188, 194, 216);
}

a:hover {
  color: rgb(54, 54, 54);
  background-color: rgba(255, 255, 255, 0.779);
}

a:active {
  color: rgb(77, 77, 77);
  background-color: rgba(255, 255, 255, 0.779);
  font-weight: 800;
}

::-moz-selection {
  color: rgb(54, 54, 54);
  background-color: rgba(255, 255, 255, 0.779);
}
::-webkit-selection {
  color: rgb(54, 54, 54);
  background-color: rgba(255, 255, 255, 0.779);
}
::selection {
  color: rgb(54, 54, 54);
  background-color: rgba(255, 255, 255, 0.779);
}

.app-root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.flex-1 {
  flex: 1;
}

.row-flex {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.margin-vertical-medium {
  padding: 16px 0px;
}

.page-fixed-width-root {
  width: 600px;
  max-width: 100%;
  margin: auto;
}
