.link-url-line {
  font-weight: 600;
  text-decoration: none;
  color: var(--url-link-color);
  transition: color 200ms;
}

/* unvisited */
.link-url-line:link {
  color: var(--url-link-color);
}

.link-url-line:visited {
  color: var(--url-link-color);
}

.link-url-line:hover {
  color: var(--url-link-hover-color);
  background-color: transparent;
}

::-moz-selection {
  color: var(--url-link-hover-color);
  background-color: transparent;
}

::-webkit-selection {
  color: var(--url-link-hover-color);
  background-color: transparent;
}

::selection {
  color: var(--url-link-hover-color);
  background-color: transparent;
}

.link-url-line:active {
  font-weight: 600;
  color: white;
}
